@using Assably3.Shared
@using System.Text.Json
@inject HttpClient Http
@page "/Calculadora"
<h3>Calculadora</h3>

<EditForm Model="@operacion" Onsubmit="HandledValidSubmit">

    <InputNumber @bind-Value="operacion.NumeroA"></InputNumber><!--Union = binding-->
    <InputNumber @bind-Value="operacion.NumeroB"></InputNumber>
    <label> Resultado: @operacion.Resultado</label>
    <!--<InputNumber @bind-Value="operacion.Resultado"></InputNumber>-->
    <InputNumber @bind-Value="operacion.OperacionAritmetica"></InputNumber>

    <!--Combobox-->
    <InputSelect @bind-Value="operacion.OperacionAritmetica">
        <option value="">Selecciona la operación deseada</option>
        <option value="suma">Suma</option>
        <option value="resta">Resta</option>
        <option value="div">Divisón</option>
        <option value="multi">Multiplicación</option>
    </InputSelect>
    <button type="submit">Enviar datos</button>

</EditForm>

@code {

    Operacion operacion = new Operacion();


    public async Task HandledValidSubmit()
    {


        String json = JsonSerializer.Serialize(operacion);
        HttpResponseMessage response = await Http.PostAsJsonAsync("op", operacion);

        if (response.IsSuccessStatusCode)
        {

            operacion = await response.Content.ReadFromJsonAsync<Operacion>();

        }



    }
}
